@model IEnumerable<MainProjectNew.Models.Exam>
<!doctype html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="shortcut icon" href="~/heli/images/favicon.ico" />
    <title>Art &#8211; Gallery </title>

    <link rel="stylesheet" href="~/heli/css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/pe-icon-7-stroke.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/magnific-popup.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/owl.carousel.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/owl.theme.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/owl.transitions.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/prettyPhoto.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/animate.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/morphext.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/heli/css/custom.css" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i%7CRaleway:100,200,300,400,500,600,700,800,900%7CDroid+Serif:400,400italic,700" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="noo-spinner">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
    <div class="site left-menu-content">

        @RenderPage("~/Views/Shared/LeftMenuGallery.cshtml")

        <!-- main -->

        <div id="main">
            <div class="section pt-1 pb-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tm-grid-wrapper" data-type="masonry" data-xs-columns="1" data-sm-columns="2" data-lg-columns="4" data-gutter="30">
                                <div class="tm-grid has-animation">
                                    <div class="grid-sizer"></div>

                                    @*vong lap sap xep cac hinh trong collection*@

                                    @foreach (var item in Model)
                                    {

                                        <div class="portfolio-item grid-item masonry-item">
                                            <div class="media">
                                                <img src="~/ExamImage/@item.Path" alt="" />
                                                <div class="overlay-wrapper">
                                                    <div class="overlay"></div>
                                                    <div class="popup">
                                                        <div class="popup-inner">
                                                            <a class="prettyphoto" data-rel="prettyPhoto[gallery]" href="~/ExamImage/@item.Path">
                                                                <i class="pe-7s-search"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h3><a href='@("/Gallery/getPhoto/" + item.ExamID + "?exhiID=" + item.IDExhibition)'>@item.Quotation</a></h3>
                                                <div class="cate"><a href="@("/Gallery/getPhoto/" + item.ExamID + "?exhiID=" + item.IDExhibition)">@item.Student.Name</a></div>
                                            </div>
                                        </div>

                                    }

                                    @*vong lap sap xep cac hinh trong collection*@




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- main -->

    </div>

    <!-- footer -->
    @RenderPage("~/Views/Shared/Footer_layout.cshtml")
    <!-- footer -->
    <a id="backtotop" class="fa fa-angle-up circle" href="javascript:void(0)"></a>

    <!-- LOAD JQUERY LIBRARY -->
    <script src="~/heli/js/jquery.min.js"></script>
    <script src="~/heli/js/jquery-migrate.min.js"></script>
    <script src="~/heli/js/bootstrap.min.js"></script>
    <script src="~/heli/js/modernizr-2.7.1.min.js"></script>
    <script src="~/heli/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/heli/js/isotope.pkgd.min.js"></script>
    <script src="~/heli/js/packery-mode.pkgd.min.js"></script>
    <script src="~/heli/js/jquery.justifiedGallery.min.js"></script>
    <script src="~/heli/js/jquery.isotope.init.js"></script>
    <script src="~/heli/js/jquery.prettyPhoto.js"></script>
    <script src="~/heli/js/headroom.min.js"></script>
    <script src="~/heli/js/jQuery.headroom.js"></script>
    <script src="~/heli/js/waypoints.min.js"></script>
    <script src="~/heli/js/script.js"></script>

</body>
</html>
