@model Prj001_Bill.Models.Bill
@{
    ViewBag.Title = "Test";
}

<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-6">
    @{Html.RenderAction("getProductList");}
    </div>
</div>

<div class="container">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ tên" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.UserPhone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Điện thoại" } })
                @Html.ValidationMessageFor(model => model.UserPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.DetailAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Địa chỉ" } })
                @Html.ValidationMessageFor(model => model.DetailAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.Product, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sản phẩm cần mua" } })
                @Html.ValidationMessageFor(model => model.Product, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">

            <div class="col-md-10">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ghi chú" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display:none">

            <div class="col-md-10">
                @Html.EditorFor(model => model.Info1, new { htmlAttributes = new { @class = "form-control", @placeholder = "Info1", @style = "display:none" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display:none">

            <div class="col-md-10">
                @Html.EditorFor(model => model.Info2, new { htmlAttributes = new { @class = "form-control", @placeholder = "Info2", @style = "display:none" } })
                @Html.ValidationMessageFor(model => model.Info2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display:none">

            <div class="col-md-10">
                @Html.EditorFor(model => model.Info3, new { htmlAttributes = new { @class = "form-control", @placeholder = "Info3", @style = "display:none" } })
                @Html.ValidationMessageFor(model => model.Info3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="display:none">

            <div class="col-md-10">
                @Html.EditorFor(model => model.Info4, new { htmlAttributes = new { @class = "form-control", @placeholder = "Info4", @style = "display:none" } })
                @Html.ValidationMessageFor(model => model.Info4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
